/* 大字号 */
.txt_title {
    font-size:34px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:48px;
}
/* 中等字号 */
.txt_medium {
    font-size:26px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:37px;
}
/* 小字号 */
.txt_min {
    font-size:20px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:28px;
}
/* 钱 */
.txt_money {
    font-size:28px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(250,151,2,1);
    line-height:40px;
}
/* 标题 */
.txt_title_min{
    font-size:32px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:45px;
}
/* 小标签 */
.txt_card {
    display: flex;
}
.txt_card p:nth-child(1){
    margin-left: 0;
}
.txt_card p {
    margin-left: 10px;
    padding: 5px 16px;
    display: block;
    background-color: #F4F4F4;
    font-size:22px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:30px;
}
.paddd {
    padding: 0 30px;
}
/* vant */
.van-dropdown-menu__bar {
    height: 88px;
}
.van-ellipsis {
    font-size:24px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:33px;
}
.van-dropdown-item__option--active {
    color: #FA9702;
    font-size:24px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    line-height:33px;
}
.van-dropdown-item__option {
    font-size:24px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:33px;
}
.van-cell {
    height: 88px;
    line-height: 88px;
    padding: 0 30px;
}
.dropdown_zlp {
    font-size:26px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:37px;
}
.van-dropdown-item__content {
    padding-bottom: 31px;
}
.van-dropdown-item__content .van-dropdown-item__option:nth-child(1) .van-cell__title span {
    font-size:26px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:37px;
    /* pointer-events:none; */
    -webkit-user-select: none;
}
.van-dropdown-item__content .van-dropdown-item__option .van-cell__value i {
    display: none;
}
.van-cell::after {
    border-bottom: none;
}
.van-dropdown-menu__title::after {
    margin-left: 10px;
    right: -20px;
    width: 0;
    height: 0;
    top: 13px;
    border-width: 14px 9px;
    border-style: solid;
    border-color: transparent transparent black;
    transform: rotate(180deg);
    opacity:1;
    
}
.van-dropdown-menu__title--active::after {
    margin-left: 10px;
    right: -20px;
    width: 0;
    height: 0;
    top: -6px;
    border-width: 14px 9px;
    border-style: solid;
    border-color: transparent transparent black;
    transform: rotate(360deg);
    opacity:1;
}
.van-swipe__track {
    width: 100% !important;
    height: 516px;
}
.van-swipe-item img {
    width: 100%;
    height: 100%;
}
.custom-indicator {
    padding: 0 9px;
    top: 471px;
    width:51px !important;
    height:25px !important;
    background:rgba(0, 0, 0, 0.5) !important;
    border-radius:13px !important;
    font-size:20px !important;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:28px;
}
/* 选择时间 */
.van-popup {
    height: 791px !important;
}
.van-sidebar {
    flex: 1;
    height: 100% !important;
    box-sizing: border-box;
    overflow-x: hidden;
}
.van-sidebar-item {
    width: 266px;
    height: 88px;
    font-size:28px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:40px;
}
.van-sidebar-item--select::before {
    display: none;
}
.van-tree-select__item {
    padding-left: 30px;
    height: 88px;
    line-height: 88px;
    font-size:28px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:#666666;
    line-height:80px;
}
.van-tree-select__item--active {
    color: #FA9702;
}
.van-icon-success::before {
    display: none;
}
.van-popup--bottom {
    overflow: hidden;
}
/* 预约成功 */
.van-popup--center {
    padding: 84px 30px 44px 30px;
    width:500px;
    height:410px !important;
    background:rgba(255,255,255,1);
    border-radius:10px;
    text-align: center;
    position: relative;
    overflow-y: visible;
}
.van-popup--center h1 {
    font-size:32px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:45px;
}
.van-popup--center p {
    font-size:24px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:33px;
    margin-top: 30px;
}
.van-popup--center button {
    margin-top: 55px;
    width:380px;
    height:60px;
    background:rgba(250,151,2,1);
    border-radius:6px;
    font-size:28px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:40px;
}
.img {
    background: #F4F4F4;
    width: 108px;
    height: 108px;
    position: absolute;
    border-radius: 108px;
    top:0px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img img {
    width: 100%;
    /* height: 100%; */
}
.popup_timer {
    width: 100%;
    height: 87px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 155px;
}
.popup_timer p {
    font-size:24px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:33px;
}
.popup_timer_left {
    text-align: center;
}
.popup_timer_left p {
    width: 100%;
}
.lives .van-popup--bottom {
    padding-top: 50px;
}
.lives .popup_title {
    height: auto !important;
    line-height: 0 !important;
}
.van-tabs__nav--line {
    width: 100%;
    height: 88px;
    background:rgba(244,244,244,1);
}
.van-tabs--line .van-tabs__wrap {
    height: 88px;
}
.van-tabs__line {
    width:36px !important;
    height:5px !important;
    background:rgba(250,151,2,1) !important;
}
.van_content {
    /* padding: 0px 30px 44px 30px; */
}
.van_content ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.van_content li {
    width:150px;
    height:88px;
    margin-top: 30px;
    background:rgba(244,244,244,1);
    border-radius:4px;
    margin-left: 30px;
    text-align: center;
}
.van_content p {
    font-size:24px;
    line-height: 88px !important;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:33px;
}
.van_active p {
    width:150px;
    height:88px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(250,151,2,1);
}
.van-radio {
    height: 88px;
    font-size:30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
}
.van-radio__label {
    display: flex;
    justify-content: space-between;
}
.van-radio__label p {
    margin-left: 43px;
    margin-top: 12px;
}
.van-radio__label img {
    width: 44px;
    height: 44px;
}
.paymentSucceed_steps {
    width: 378px;
    margin: auto;
}
.van-step--vertical:not(:last-child)::after {
    border: none;
}
.van-step__title h1 {
    font-size:26px !important;
    font-family:PingFang-SC-Medium,PingFang-SC !important;
    font-weight:500 !important;
    color:rgba(51,51,51,1) !important;
    line-height:37px !important;
}
.step__title p {
    font-size: 22px;
    color: #FF99;
}
.van-steps__items {
    margin-left: 35px;
}
.van-step--vertical {
    padding-left: 35px;
    margin-top: 35px;
}
.van-step__line {
    width: 2px !important;
}
.van-step__circle {
    width:36px;
height:36px;
background:linear-gradient(180deg,rgba(254,209,139,1) 0%,rgba(250,151,2,1) 100%);
}
.van-tabbar-item__text span {
    width: 100%;
    display: block;
    font-size:20px;
font-family:PingFang-SC-Medium,PingFang-SC;
font-weight:500;
color:rgba(142,142,147,1);
line-height:28px;
}
.van-tabbar-item__text img {
    width: 58px;
    height: 58px;
}
.van-tabbar-item--active span {
    color:rgba(250,151,2,1) !important;
}
.van-tabs__nav--line {
    background-color: #FFFFFF;
}
.van-tab {
    height: 88px !important;
}
.van-tab {
    font-size:26px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:37px;
}
.van-tab--active {
    font-size:26px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:37px;
}